.hide {
  display: none !important;
}

.product-card-div {
  display: flex;
  justify-content: center;
}

.active {
  background-color: blue;
}

.sticky-sidebar {
  position: absolute;
  top:90px;
}

.card-hover {
  transition: 0.2s ease;
}

.card-hover:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

@media only screen and (min-width: 576px) {
  .nav-pop-up {
    display: none;
  }
}