.checkout-style {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}

.delivery-date {
 font-family: sans-serif;
 color: gray;
 font-size: larger;
 font-weight: 100;
}

.product-image-size {
  width: 150px;
  height: 150px;
}

.product-content {
  font-family: sans-serif;
  word-spacing: 1px;
  color: black;
  font-size: large;
  font-weight: 300;
}

.product-content-date {
  font-family: sans-serif;
  word-spacing: 1px;
  color: black;
  font-size: 14px;
  font-weight: 300;
}

.pop-up {
  position: fixed;
  z-index: 101;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
}

.hide {
  display: none;
}

#orderButton {
  background-color: darkgray;
  color: black;
  border: antiquewhite;
}


@media screen and (max-width: 550px) {
  .right-cont {
    margin-right: 60px !important;
  }
}

@media screen and (max-width: 750px) {
  .right-cont {
    margin-right: 80px !important;
  }
}

@media screen and (max-width: 950px) {
  .right-cont {
    margin-right: 50px !important;
  }
}

@media screen and (max-width: 1050px) {
  .right-cont {
    margin-right: 50px !important;
  }
}