
#preloader {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 100;
}

.hide {
  display: none;
}

.nav-pop-up {
  background-color: rgb(252, 242, 222);
  height: 100%;
  width: 50%;
  top: 10%;
  left: 50%;
  position: fixed;
  z-index: 1000;
}

.banner-image {
  height: 400px;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);

}

.banner-image-heading {
  height: 23px;
  left: 156px;
  top: 256px;
  border-radius: 0;
  font-family: 'Mada';
  font-size: 28px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  padding: 50px 20px 0 100px;
} 

.banner-image-text {
  height: 109px;
  width: 100%;
  left: 155px;
  top: 304px;
  border-radius: 0;
  font-family: 'Aclonica';
  font-size: 64px;
  font-weight: 400;
  line-height: 129px;
  letter-spacing: 0em;
  text-align: left
}


.stats-container {
  background: linear-gradient(180deg, rgba(252, 203, 144, 0.15) 0%, rgba(255, 185, 188, 0.1) 61.91%);
  /* height: 300px; */
}

.section-p1 {
  padding: 40px 80px;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}


footer .logo{
  margin-bottom: 30px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}


footer p{
  font-size: 14px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow{
  margin-top: 20px;
}

footer .follow i{
  color: #465b52 ;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
  color: #088178;
}

footer .copyright{
  width: 100%;
  text-align: center;
}

.nav-bt {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: 200;
}

/* @media (max-width: 1392px) and (max-height: 480px) {
  .product-card-div {
    margin-left: 20px;
    margin-right: 20px;
  }
  .banner-image {
    height: 300px;
  }
}

@media (max-width: 1282px) and (max-height: 480px) {
  .product-card-div {
    margin-left: 25px;
    margin-right: 25px;
  }
  .banner-image {
    height: 200px;
  }
}

@media (max-width: 1162px) and (max-height: 480px) {
  .product-card-div {
    margin-left: 26px;
    margin-right: 32px;
  }
  .banner-image {
    height: 150px;
  }
}

@media (max-width: 360px) and (max-height: 760px) {
  .product-card-div {
    margin-left: 16px;
    margin-right: 32px;
  }
  .banner-image {
    height: 150px;
  }
}

@media (max-width: 415px) and (max-height: 897px) {
  .product-card-div {
    margin-left: 36px;
    margin-right: 32px;
  }
  .banner-image {
    height: 150px;
  }
} */